fonts
checkpoints
cocoapi
geodataset
datasets_torchvision
experiments
loss_logs
outputs
loss
plots
results
temp.json
output.txt
earlyStopping.py
.idea/*
__pycache__/*
plotResults.py
embeddings/*
descricoes.xlsx
*.xlsx
capivara
*.pkl
logs
config.yaml
textDatasets
opt.yaml
configs
gapAnalysis
test
CLIP-LoRA
Llip
hardcodedEval.py
mimic-code
src/models/__pycache__/*
src/eval/rrg_eval/__pycache__/*
src/eval/__pycache__/*
src/data/__pycache__/*
src/__pycache__/*
